@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}

.logo_ul {
    display: flex;
    column-gap: 70px;
}

.logo_ul ul li {
    list-style-type: none;
    padding: 3px 15px;
    align-items: center;
    justify-content: center;
}

.logo_ul ul li a {
    font-size: 24px;
    color: rgb(255, 255, 255, .7);
    text-decoration: none;
    font-weight: bold;
    transition: .3s linear;
}
.logo_ul ul li a:hover {
    color: white;
}

.logo_ul div{
    display: flex;
    margin-top: 11px;
}

.search_bar {
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar input {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    background:rgb(255, 255, 255, .3);
    margin-right: 20px;
}

.search_bar input::placeholder {
    color: white;
}

.search_bar img {
    border-radius: 50%;
}

body {
    background-color: rgb(26, 28, 45);
}

section {
    display: flex;
    margin-top: 100px;
}

.wrapper {
    width: 72%;
    height: 1700px;
    /* border: 1px solid white; */
}

.wrapper h1 {
    position: relative;
    left: 50px;
    color: white;
    font-size: x-large;
}

.srs {
    position: relative;
    left: 50px;
    top: 235px;
}

.container1 {
    display: flex;
    margin-left: 47px;
    column-gap: 3px;
    /* border: 3px solid white; */
}

.container2, .container3 {
    display: flex;
    margin-left: 47.4px;
    column-gap: 3px;
    /* border: 3px solid white; */
    margin-top: 210px;
}

.series1 {
    display: flex;
    margin-left: 47px;
    margin-top: 260px;
    column-gap: 3px;
    /* border: 3px solid white; */
}

.gambar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 70%, black 100%);
}

.gambar {
    position: absolute;
    z-index: -1;
}

.gambar img {
    border-radius: 5px;
}

.judul {
    border-radius: 5px;
    position: relative;
    color: white;
    width: 180px;
    top: 175px;
    left: 10px;
}

.judul h6 {
    font-size: 15px;
    margin-bottom: 5px;
}

.judul p {
    word-spacing: 10px;
    font-size: 12px;
    /* font-weight: 300; */
}

span {
    background-color: rgb(246, 199, 0);
    color: black;
    padding: 1px 8px;
    border-radius: 5px;
    font-weight: 550;
}

.genre {
    color: white;
    position: absolute;
    left: 970px;
    top: 280px;
    width: 340px;
    height: 290px;
    color: rgb(255, 255, 255, .7);
    font-size: 20px;
    list-style-type: none;
    /* border: white solid; */
    overflow: auto;
    text-decoration: none;
}

.genre ul li a{
    color: rgb(255, 255, 255, .7);
    list-style-type: circle;
    text-decoration: none;
}

.genre ul li a:hover{
    color: white;
    transition: .3s linear;
}

.role_head {
    color: white;
    position: relative;
    top: 52px;
}

.year_head {
    color: white;
    position: relative;
    top: 400px;
    right: 85px;
    /* width: 100px; */
}

.year {
    color: white;
    position: absolute;
    left: 970px;
    top: 630px;
    width: 340px;
    height: 290px;
    /* border: white solid; */
    overflow: auto;
}

.year ul li a{
    color: rgb(255, 255, 255, .7);
    list-style-type: circle;
    text-decoration: none;
}

.year ul li a:hover{
    color: white;
    transition: .3s linear;
}


.footer {
    width: 100%;
    height: 120px;
    background-color: rgb(26, 28, 45);
    color: white;
    margin-top: 5cm;
    text-align: center;
    padding-bottom: 60px;
    color: rgb(255, 255, 255, .7);
}

.hmc {
    display: flex;
    justify-content: center;
    margin-left: .1cm;
    justify-content: space-evenly 4;
    margin-top: 15px;
    column-gap: 30px;
}

.popular {
    color: white;
    position: absolute;
    top: 1000px;
    right: 185px;
}

.popuhead {
    position: relative;
}

.box {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}

.img img {
    border-radius: 5px;
}